html,
body {
  margin: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 75vw;
}

.midground, .foreground {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 15vh 0 0 15vw;
  padding: 0;
  width: 35vw;
  height: 59vh;
}

body {
  background-color: rgba(0, 255, 0, 0.1);/*hsl(240, 100%, 80%); /*Modify the body selector's background color to have a value of rgba(0, 255, 0, 0.5).*/
  /*Now, set the alpha of the document body to 0.1. How does opacity change the background?*/
}

.midground {
  background-color: hsla(225, 100%, 25%, 0.4); /*Give the element with class .midground an alpha value of 0.4 using hsla.

Run the code, and notice how all the colors blend depending on how they overlap.*/
}

.foreground {
  background-color: hsla(325, 50%, 50%, 0.6); /*Give the element with class .foreground an alpha value of 0.6. Remember to change hsl to hsla.*/
}
